---
layout: default
---
{%- assign _posts = site.games | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">

	<section>
		<div class="container">
			{%- if page.content != "" -%}
				{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
			{%- endif -%}
			<div class="row">
			
			<!-- Posts List -->
			{%- for col_i in (0..2) -%}
				<div class="4u 12u$(mobile)">
				{%- for _post in _posts -%}
					{% assign remainder = forloop.index0 | modulo: 3 %}
					{%- if remainder == col_i -%}
						{%- capture _link -%} {{- _post.url | absolute_url -}} {%- endcapture -%}
						{%- include gameblock.html title=_post.title url=_link image=_post.image_url -%}
					{%- endif -%}			
				{%- endfor -%}
				</div>
			{%- endfor -%}
			
			</div>
		</div>
	</section>
</div>